html {
  color-scheme: light dark;
}

body {
  font-family: system-ui;
  line-height: 1.5;
  font-size: 1.5rem;
}
#sailio,
#vasen,
#oikea,
#keski {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#kr_logo,
#yhtasuuri,
#euro {
  margin-left: 1vw;
}
#e_logo {
  margin-left: 0.5vw;
}
input {
  font-size: 1.5rem;
}
footer {
  width: 100%;
  height: 3%;
  position: fixed;
  bottom: 1vw;
  display: flex;
  justify-content: center;
  font-size: 1rem;
}
a {
  text-decoration: none;
}

@media screen and (max-width: 540px) {
  #sailio {
    flex-direction: column;
  }
  input {
    width: 50%;
  }
}
